<% semantic_form_for @user, :url => account_url do |f| %>
  <%= render :partial => "form", :object => f %>

	<% f.buttons do %>
		<%= f.commit_button I18n.t(:'formtastic.actions.user.edit') %>
	<% end %>
<% end %>
<div>
	<%= link_to "My Profile", account_path %>
</div>